html{
  /*background: gray;*/
  /*padding: 2em 0*/
}
body{
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  background: white;
  padding-left: 2em;
  box-sizing: border-box;
  font-family: Tahoma;
}
body > *{
  padding: 1em 2em;
}
section{
  width:70%;
}
aside{
  padding-top: 2em;
  width: 35%;
  background: rgb(237, 237, 237);
}
figure {
  padding: 0;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
}
img{
  width: 100%;
}
p{
  text-align: justify;
  margin: .5em 0;
}
p:not(.no-nbsp)::first-letter{
  margin-left: 1em;
}
h1, h3{
  font-family: Impact;
  font-weight: normal;
  color: rgb(64, 89, 119);
}
h1{
  font-size: 250%;
  text-transform: uppercase;
  margin-bottom: 0;
}
h2{
  font-size: 150%;
  font-weight: normal;
  margin-top: 0;
}
h3, h4{
  margin: 1em 0 0 0;
}
h3{   display: flex;}
h3 span{
  margin-right: .5em;
  white-space: nowrap;
}
ul, ol{
  padding: 0 0 0 1em;
  margin: .5em 0;
}
li div{
  margin-bottom: .5em;
  font-size: 90%;
  color: gray;
}
hr{
  border: none;
  background: none;
  position: relative;
  width: 100%;
}
hr::after{
  content:'';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid rgb(64, 89, 119);
}
.contacts{
  padding: 0;
  list-style: none;
}
.contacts li{
  font-size: 90%;
  margin: 1em 0;
}
a{
  color: inherit;
  text-decoration: none;
}
i{
  background: rgb(64, 89, 119);
  padding: .3em;
  border-radius: 50%;
  color: white;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  display: inline-block;
}
article a{
  text-decoration: underline;
}
